.navbar {
    display: flex;
    width: 80%;
    height: 6%;
    background-color: rgb(84, 16, 16);
    padding: 0 10% 0 10%;
}

.nav-item {
    width: 8%;
    height: 100%;
    text-decoration: none;
    color: #EEEEEE;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms;
    background-color: rgb(84, 16, 16);
}

.nav-item:hover {
    filter: brightness(1.2);
}

.nav-filler {
    width: 76%;
}