.login-main {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(84, 62, 0, 0.5);
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5% 10% 5% 10%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0, 0.8);
}

.login-container h2 {
    color: rgb(256, 256, 256);
    font-size: 2em;
    cursor: default;
    letter-spacing: 0.2em;
}

.login-container hr {
    color: rgb(256, 256, 256);
    width: 50%;
}

.login-container input[type=text], .login-container input[type=password] {
    width: 70%;
    height: 15%;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #222222;
    color: #dddddd;
    transition: 300ms;
    font-size: 1em;
}

.login-container input[type=text]:hover, .login-container input[type=password]:hover, .login-container input[type=text]:active, .login-container input[type=password]:active {
    background-color: #444444;
    border: none;
}

.login-container input[type=button] {
    background-color: #222222;
    color: #dddddd;
    width: 30%;
    height: 10%;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 300ms;
    font-size: 1em;
}

.login-container input[type=button]:hover {
    background-color: #444444;
}